<h1>Profile page</h1>

{{#if session.currentUser}}
    <h2>Welcome, {{session.currentUser.email}}!!</h2>
    <p>This is your profile page</p>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
{{else}}
    <p>Still not logged in user, sorry!</p>
{{/if}}