<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
         <ul>
            <li>
               <h4><a href="/">Home</a></h4>
            </li>
            <li>
               <h4><a href="/books">Books</a></h4>
            </li>
            <li>
               <h4><a href="/books/create">New Book</a></h4>
            </li>
            <li>
               <h4><a href="/authors">Authors</a></h4>
            </li>
            <li>
               <h4><a href="/register">Register</a></h4>
            </li>
            <li>
               <h4><a href="/login">Login</a></h4>
            </li>
            <li>
               <h4><a href="/user-profile">Profile Page</a></h4>
            </li>
            <li>
               <form action="/logout" method="POST">
               <button>Logout</button>
               </form>
            </li>
         </ul>
      </nav>
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>