body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: black;
}

.book-summary {
  background-color: aquamarine;
  border: 1px solid;
  padding: 1rem;
  margin: 1rem
}

a {
  color: blue;
}

form {
  display: block;
  margin: 1rem;
}

ul {
  list-style: none;
  display: flex;
  text-align: center;
  background-color: aquamarine;
  border: 1px solid;
  margin: auto;
}

li {
  display: flex;
  text-align: center;
  margin: auto;
}

.log {
  border: 0;
  margin: auto;
}
